{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1"><
<!--  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'Maske.css' %}"/>-->
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title> {% block title %}{% endblock title %} </title>

</head>

<body>

<div id="top"></div>

<div class="header">
  <div class="header_content">
    <div class="logo_abschnitt">
      <a href="LINK/" id="logo"><img src="{% static 'graphic\america_car_rental_logo_400.jpg' %}" width="100%"></a>
    </div>

  </div>

</div>

<div class="wrapper">
  <div id="tool_navi_abschnitt" style=" background-color: #f49e00">
    <div class="tool_navigation" style="float: none; width: 1100px; margin: 0 auto;">
      <ul>

        <li class="tool_nav" style="width: 32%"><a  class="tool_navi_button" href="LINK" ><i class="material-icons">directions_car</i> <div class="navi_schrift">Fahrzeuge</div></a>
        </li>
        <li class="tool_nav" style="width: 32%"><a   class="tool_navi_button" href="LINK" ><i class="material-icons">people</i><div class="navi_schrift">Kunden</div></a></li>
        <li class="tool_nav" style="width: 32%"><a   class="tool_navi_button" href="LINK" ><i class="material-icons">event_note</i><div class="navi_schrift">Reservierungen</div></a></li>
      </ul>
    </div>
  </div>
</div>
{% block content %}{% endblock content %}
</body>
</html>