{% extends 'base.html' %}

{% block title %}
<html>
<head>
  <meta charset="ISO-8859-1">
  <link rel="stylesheet" type="text/css" media="screen" href="static/Maske.css"/>
</head>
<title>Insert title here</title>

{% endblock title %}


{% block content %}

<body>
Partner-Eintrag
<hr>
<!-- Großer Zurück Button Links -->
<!-- form um Button Funktion zugeben (spring zur MaskenVerwaltung zurück) -->
<!-- a href="/template/AnforderungDienstfahrzeuge.html">Unterseite</a-->
<button style="margin-top: 18px; margin-left:1px; height:970px; width:200px; type:reset; value:DEL;">
  <u>Z</u>urück</button>
<!-- Dokument damit ein Partner ein Dienstfahrzeug anfordern kann -->
<div class="middleScreenAnfDienstfahr">
  <fieldset class="fielset_row">
    <h2>
      <br>*Legende:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PTNR&nbsp;&nbsp;- Partner<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FSN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Fuerherschein      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FUW&nbsp;&nbsp;&nbsp;&nbsp;- Fahrerunterweisung <br>

    </h2>
    <br>
    <hr>
    <br><br>
    <hr>
    <br><br>
    <h1><u>Partner Eintrag:</u></h1>
    <br>         <br>


    <table>
      <thead>
      <tr>
        <td><label for="PTNR_NAME">Name:</label></td>
        <td><label for="PTNR_VORNAME">Vorname:</label></td>
        <td><label for="PTNR_VEREIN">Verein:</label></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <input id="PTNR_NAME" placeholder="PTNR_NAME" type="text" name="q" size="21">
        </td>
        <td>
          <input id="PTNR_VORNAME" placeholder="PTNR_VORNAME" type="text" name="q" size="21">
        </td>
        <td>
          <input id="PTNR_VEREIN" placeholder="PTNR_VEREIN" type="text" name="q" size="21">
        </td>
      </tr>
      </tr-->
      </tbody>

    </table>


    <br>         <br>




    <table>
      <thead>
      <tr>
        <td><label for="PTNR_KOSTENSTELLE">Kostenstelle:</label></td>
        <td><label for="PTNR_FUERERSCHEIN_VORGELEGT_AM">Fsn vorgelegt am:</label></td>
        <td><label for="PTNR_FUERERSCHEIN_KONTROLLE_AM">Fsn. Kontrolle am:</label></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <input id="PTNR_KOSTENSTELLE" placeholder="PTNR_KOSTENSTELLE" type="text" name="q" size="21">
        </td>
        <td>
          <input id="PTNR_FUERERSCHEIN_VORGELEGT_AM" type="datetime-local" name="PTNR_FSN_VORGELEGT_AM am" value="2020-01-01T00:00" min="2000-01-01T00:00" max="2100-01-01T00:00">            </td>
        <td>
          <input id="PTNR_FUERERSCHEIN_KONTROLLE_AM" type="datetime-local" name="PTNR_FUERERSCHEIN_KONTROLLE_AM" value="2020-01-01T00:00" min="2000-01-01T00:00" max="2100-01-01T00:00">            </td>
        </td>
      </tr>
      </tr-->
      </tbody>

    </table>




    <br>         <br>

    <table>
      <thead>
      <tr>
        <td><label for="PTNR_FUEHERSCHEIN_SICHTUNG_DURCH">Fsn. Sichtung durch:</label></td>
        <td><label for="PTNR_FAHRERUNTERWEISUNG_ERHALTEN_AM">Fuw. erhalten am:</label></td>
        <td><label for="PTNR_FAHRERUNTERWEISUNG_AM">Fuw. am:</label></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <input id="PTNR_FUEHERSCHEIN_SICHTUNG_DURCH" placeholder="PTNR_FUEHERSCHEIN_SICHTUNG_DURCH" type="text" name="q" size="21">
        </td>
        <td>
          <input id="PTNR_FAHRERUNTERWEISUNG_ERHALTEN_AM" type="datetime-local" name="PTNR_FAHRERUNTERWEISUNG_ERHALTEN_AM am" value="2020-01-01T00:00" min="2000-01-01T00:00" max="2100-01-01T00:00">            </td>
        <td>
          <input id="PTNR_FAHRERUNTERWEISUNG_AM" type="datetime-local" name="PTNR_FAHRERUNTERWEISUNG_AM" value="2020-01-01T00:00" min="2000-01-01T00:00" max="2100-01-01T00:00">            </td>
        </td>
      </tr>
      </tr-->
      </tbody>

    </table>
    <br>         <br>



    <table>
      <thead>
      <tr>
        <td><label for="PTNR_ERSTELLT_VON">Erstellt von:</label></td>
        <td><label for="PTNR_AENDERUNGSZEITPUNKT">Aenderungszeitpunkt:</label></td>
        <td><label for="PTNR_ERSTELLUNGSZEITPUNKT">Erstellungszeitpunkt:</label></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <input id="PTNR_ERSTELLT_VON" placeholder="PTNR_ERSTELLT_VON" type="text" name="q" size="21">
        </td>
        <td>
          <input id="PTNR_AENDERUNGSZEITPUNKT" type="datetime-local" name="PTNR_AENDERUNGSZEITPUNKT" value="2020-01-01T00:00" min="2000-01-01T00:00" max="2100-01-01T00:00">            </td>
        <td>
          <input id="PTNR_ERSTELLUNGSZEITPUNKT" type="datetime-local" name="PTNR_ERSTELLUNGSZEITPUNKT" value="2020-01-01T00:00" min="2000-01-01T00:00" max="2100-01-01T00:00">            </td>
        </td>
      </tr>
      </tr-->
      </tbody>

    </table>

    <button type="submit">Register</button>
    </form>
    <br>         <br>


        
    <footer>
      <button id="id_but_speichern" type="submit" accesskey="s" formaction="">
        <u>S</u>peichern</button>
      <button id="id_but_drucken" type="submit" accesskey="d" formaction="">
        <u>D</u>rucken</button>
      <button id="id_but_zurueck" type="submit" accesskey="z" formaction="">
        <u>B</u>eenden</button>
      <button id="id_but_pdf" type="submit" accesskey="z" onclick="printPDF();">
        <u>P</u>DF</button>
      <hr>
      <br><br>
      <hr>
    </footer>
</div>
</body>
</html>
{% endblock content %}
